*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}

.btn{
    padding: 10px;
}

.number{
    padding: 10px;
}

.btn button{
    padding: 5px;
}